---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Nike">
    <h3 class="text-gray-500 text-center">Remember that the prices are demostrative as they can change</h3>
    <Card 
        title='LV Trainer'
        imageUrl='https://i.pinimg.com/564x/d0/20/d5/d020d5bbf96c7462c0f9f05ceaa13b7d.jpg' 
        imageAlt='LV Trainer' 
        price={1010}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
        stock={false}
    />
    <Card 
        title='Lv Skate Sneaker'
        imageUrl='https://i.pinimg.com/564x/3c/4a/c0/3c4ac0d2a6187b154bf133c84a4a33ee.jpg' 
        imageAlt='LV Skate Sneaker' 
        price={1010}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
        stock={false}
    />
    <Card 
        title='Off White OOO'
        imageUrl='https://i.pinimg.com/564x/09/14/b8/0914b8256daf7b9f373d7e3ebf1a68b3.jpg' 
        imageAlt='Off White OOO' 
        price={160}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-silver-anniversary-398613-102'
        stock={false}
    />
    <Card
        title='Christian Dior B22'
        imageUrl='https://i.pinimg.com/564x/62/c5/d4/62c5d4652f12f26c9ae0748cc9a63e99.jpg' 
        imageAlt='B22' 
        price={169.98}
        link='https://wowjay.com/products/air-jordan-3-retro-unc-ct8532-104?variant=43129932677334'
        stock={false}
        /> 
</Layout>