---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Mi web.">
	<main>
		<Card
        title='BapeSTA'
        imageUrl='https://1000logos.net/wp-content/uploads/2018/03/BAPE-Logo.png' 
        imageAlt='BapeSTA Patent Red' 
        link='/bapeSta'
        />
		<Card
        title='Jordan'
        imageUrl='https://res.cloudinary.com/dmubfrefi/image/private/s--1d2eil-o--/c_crop,h_2813,w_5000,x_0,y_0/c_scale,w_384/f_auto/q_auto/v1/dee-about-cms-prod-medias/cf68f541-fc92-4373-91cb-086ae0fe2f88/005-nike-logos-jordan-black.jpg?_a=BAACwmBs' 
        imageAlt='Jordan3 UNC' 
        link='/jordan'
        />
		<Card
        title='Nike'
        imageUrl='https://cdn.mos.cms.futurecdn.net/786NzPhpXo6G8hkutJkHTM-1200-80.jpg' 
        imageAlt='' 
        link='/nike'
        />
		<Card
        title='Others'
        imageUrl='https://upload.wikimedia.org/wikipedia/commons/7/76/Louis_Vuitton_logo_and_wordmark.svg' 
        imageAlt='Jordan3 UNC' 
        link='/extra'
        />
	</main>
    <h4 class="text-center text-gray-400 text-xs mt-4 bg-gray-800 p-4 border w-29 rounded-lg h-10 hover:bg-gray-700">For Oscar Simon</h4>
</Layout>
